 /* General Styles */
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: beige;
}

/*Navbar Styling*/
nav {
    background-color: #0f897f;
    padding: 10px;
    text-align: center;
} 

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

 /*Header Styling */
header {
    text-align: center;
    padding: 20px 0;
    color: #0f897f;
    
}

/* Image Styling*/
img {
    display: block;
    margin: 0 auto 20px;
}

#front-view {
    height: 400px;
    width: 1200px;
}

#service-deck {
    height: 400px;
    width: 800px;
    
}

/* Apply specified font family, size, margin, and color to h1, h2, h3, and h4 using element selectors.*/
h1 {
    font-family: 'Georgia', serif;
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 28px;
    color: #0f897f;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    color: #666;
    margin-top: 25px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 5px;
}

 Main Section Styling 
main {
    padding: 20px;
}
/* Centered the menu section title and set its width to 800px using CSS class selectors.*/
.centered {
    width: 800px;
    margin: 0 auto;
}

