 /* General Styles */
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: beige;
}

/*Navbar Styling*/
nav {
    background-color: #0f897f;
    padding: 10px;
    text-align: center;
} 

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

 /*Header Styling */
header {
    text-align: center;
    padding: 20px 0;
    color: #0f897f;
    
}

/* Image Styling*/
img {
    display: block;
    margin: 0 auto 20px;
}

#front-view {
    height: 400px;
    width: 1200px;
}

#service-deck {
    height: 400px;
    width: 800px;
    
}